.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

.hero, .top-news, .scores, .weather, .recent-news {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

@media screen and (max-width: 345px) {
    h1.header__title {
        font-size: 1.6em;
    }
    
    a#menu.header__menu {
        padding-right: 0;
    }
}

@media screen and (max-width: 400px) {
    p {
        width: 250px;
        font-size: 1em;
    }
    
    .header__logo {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    
    footer {
        text-align: center;
    }
    
    footer a {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 549px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom; 
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
    
    .hero img {
        width: 100%;
    }
    
    .scores {
        overflow-x: auto;
    }
    
    .date, .scores__location {
        display: none;
    }
    
    .snippet__thumbnail {
        width: 100%;
        max-width: 549px;
        margin: 0 auto;
    }
    
    footer a {
        padding-right: 0;
        margin-right: auto;
    }
}

@media screen and (min-width: 550px) {
    
    h1.header__title {
        font-size: 3em;
    }
    
  .hero {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 60%;
  }
  .weather {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 40%;
  }
}

@media screen and (min-width: 550px) and (max-width: 720px) {
    span.weather__today__temp, span.weather__today__deg {
        font-size: 2em;
    }
    
    img.weather__today__image {
        vertical-align: text-top;
        width: 50%;
        height: auto;
    }
    
    .snippet__thumbnail {
        max-width: 135px;
    }
}

@media screen and (min-width: 700px) {
   .hero {
    width: 50%;
  }
  .top-news {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 50%;
  }
  .scores {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 60%;
  }
    
    .date, .scores__location {
        display: none;
    }
    
  .weather {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}